.bands_container  {
    position: relative;
    width: 50%;
    height: 100vh;
    border-right: 1px dotted #1d1d1d;
}

.selected__bands__text {
    position: absolute;
    right: -25%;
}

.band__iframe  {
    display: none;
}

.band__iframe.show  {
    display: block;
    visibility: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

iframe {
    width: 500px;
}

.band__name {
    cursor: pointer;
    color: #1d1d1d;
    text-align: right;
    font-size: 40px;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0;
    margin-bottom: 16px;
}

.band__name:hover {
    color: #cfcfcf;
}

.band__name.selected {
    color: rgb(193, 65, 65);
}